@model Vidly2.ViewModels.CustomerDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<ul>
    <li>Full Name; @Model.Customer.Name</li>
    @if (Model.Customer.BirthdayDate.HasValue)
    {
        <li>Birth Date: @Model.Customer.BirthdayDate.Value.ToShortDateString()</li>
    }
</ul>


